{% extends "aplicacion1/base.html" %}
{% load static %}
{% block content %}
<section class=" container mt-5">
    <h3>Bienvenido <strong>{{primer_nombre}} {{segundo_nombre}}</strong>  a nuestro catálogo de productos.</h3>
</section>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for producto in productos %}
            <div class="col mb-5 shop-item">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top shop-item-image" src='{% static producto.imagen %}' alt="...">
                    <!-- Product details-->
                    <div class="card-body p-4 shop-item-details">
                        <div class="text-center">
                            <!-- Product name-->
                            <p class="codigo-producto">Cód. {{ producto.codigo }}</p>
                            <h5 class="fw-bolder shop-item-title">{{ producto.nombre }}</h5>
                            <!-- Product price-->
                            <div class="shop-item-price">
                                ${{ producto.precio }}
                            </div>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button class="btn btn-outline-dark mt-auto shop-item-button" type="button">Añadir al
                                carrito</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}